<p class="text-4xl flex items-center justify-center">Welcome to UNICAL's library system.</p>
<div class=" ml-5">
    <p class="text-xl mb-0" >In order to use this system, you have to <span class="underline"> sign in.</span></p>
    <p>Scrolling down you can take a look at what you can do with this system.</p>
    <p>This is a university project meant to be used for an exam.</p>
    <p>Technologies used in this project:</p>
    <div class="flex">
        
        <!-- Card 1 -->
             <div class="box-border size 32 border-2 max-w-1/6 w-full !bg-radial from bg-green-200 to text-teal-900">
                         <div class="flex justify-between items-center px-2 pt-2 border-b border-gray-300 pb-2 ">
                             <p class="text-lg font-semibold">Spring Boot</p>
                             <img class ="ml-10 h-10 w-10 " src="assets/spring-boot-48.png">
                         </div>
                     <div>
                         <p class=" bg-gray-700/50">Short description of spring</p>
                     </div>
                    </div>
        <!-- Card 2 -->
        <p-card class="border-2 max-w-1/6 w-full">
            <ng-template #title>
                <div>
                    <div class = "flex justify-between items-center px-2 pt-2 border-b border-gray-300 pb-2">
                        <p class="text-lg font-semibold">Angular</p>
                        <img class ="ml-10 h-10 w-10 " src="assets/angular-48.png" >
                    </div>
                </div>
            </ng-template>
            <div>
                <p>Short description of angular</p>
            </div>
        </p-card>
        <!-- Card 3 -->
        <p-card class="border-2 max-w-1/6 w-full">
                <ng-template #title >
                    <div class="flex justify-between items-center px-2 pt-2 border-b border-gray-300 pb-2">
                        <p class="text-lg font-semibold">PrimeNg</p>
                        <img class ="ml-10 h-10 w-10 " src="assets/primeng-48.png">
                    </div>
                </ng-template>
                <div>
                    <p>Short description of PrimeNG</p>
                </div>
        </p-card>
        <!-- Card 4 -->
        <p-card class="border-2 max-w-1/6 w-full box-content shadow-2xl">
                <ng-template #title >
                    <div class="flex justify-between items-center px-2 pt-2 border-b border-gray-300 pb-2">
                        <p class="text-lg font-semibold">Tailwind CSS</p>
                        <img class ="ml-10 h-10 w-10 " src="assets/tailwindcss-48.png">
                    </div>
                </ng-template>
                <div>
                    <p>Short description of Tailwind CSS</p>
                </div>
        </p-card>
        <!-- Card 5 -->
        <p-card class="border-2 max-w-1/6 w-full">
                <ng-template #title >
                    <div class="flex justify-between items-center px-2 pt-2 border-b border-gray-300 pb-2">
                        <p class="text-lg font-semibold">Redis</p>
                        <img class ="ml-10 h-10 w-10 " src="assets/redis-48.png">
                    </div>
                </ng-template>
                <div>
                    <p>Short description of Redis</p>
                </div>
        </p-card>
        <!-- Card 6 -->
        <p-card class="border-2 max-w-1/6 w-full">
                <ng-template #title >
                    <div class="flex justify-between items-center px-2 pt-2 border-b border-gray-300 pb-2">
                        <p class="text-lg font-semibold">Keycloak</p>
                        <img class ="ml-10 h-10 w-10 " src="assets/keycloak-48.png">
                    </div>
                </ng-template>
                <div>
                    <p>Short description of Keycloak</p>
                </div>
        </p-card>
    </div>
    
</div>
